.demo-search-tab {
  .demo-search-tab-box {
    display: flex;
    .demo-search-tab-title {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #787878;
    }
  }
}
